table {
  height: 100%;
  width:100% ;
  border-collapse: collapse;
}

td {
  height: 20px;
  padding: 0px;
  
}

input {
  margin: 0px;
  width: 100%;
}

div {
  width: 40px;
}

.titulo{
  text-align: center;
}
.excel{
  border: 1px solid black;
}
